/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --green: #27ae60;
    --blue: #192a56;
}

body {
    min-height: 100vh;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(var(--blue), #000);
}

/* CARTE DU JOUEUR */
.cardPlayer {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 100px;
    border: 1px solid #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.namePlayer {
    color: #fff;
}
.scorePlayer {
    color: #fff;
}

.errorText {
    color: red;
    position: absolute;
    top: 20px;
    font-size: 1.5em;
}

/* TITRE */
.titre {
    /* border: 1px solid #fff; */
    width: 75%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre>h1 {
    color: #fff;
    font-size: 5em;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

/* CONNEXION */
.connexion {
    /* border: 1px solid #fff; */
    width: 75%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputName {
    height: 30px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    border: none;
}
.submitName {
    height: 30px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: var(--green);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

/* CHOIX DES QUIZS */
.choix {
    /* border: 1px solid #fff; */
    width: 75%;
    height: 300px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardQuiz {
    border: 1px solid #fff;
    width: 20%;
    height: 75%;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CINEMA */
.cinema {
    background-color: #d35400;
}
.cinema>a {
    text-align: center;
}
.cinema>a>img {
    width: 50%;
}

/* MUSIQUE */
.musique {
    background-color: #e67e22;
}
.musique>a {
    text-align: center;
}
.musique>a>img {
    width: 50%;
}

/* HISTOIRE */
.histoire {
    background-color: #2ecc71;
}
.histoire>a {
    text-align: center;
}
.histoire>a>img {
    width: 50%;
}

/* JEUX VIDEO */
.jeuxVideo {
    background-color: #27ae60;
}
.jeuxVideo>a {
    text-align: center;
}
.jeuxVideo>a>img {
    width: 50%;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
    .titre {
        margin-top: 80px;
    }
    .cardQuiz {
        width: 75%;
        margin: 20px 0 20px 0;
    }
}